<div class="container">
  <label for="ticket"><b>Expense Description</b></label>
  <input type="text" placeholder="Describe the expenses you wish to have reimbursed here" name="ticket" required>
  
  <label for="amt"><b>Amount</b></label>
  <input type="text" placeholder="$" name="amt" required>


  <label for="date"><b>date of billing</b></label>
  <input type="date" name="date" required>
<br>
      <input type="radio" name="ticketType" value="Food">Food<br>
      <input type="radio" name="ticketType" value="Lodging">Lodging<br>
      <input type="radio" name="ticketType" value="Travel">Travel<br>
      <input type="radio" name="ticketType" value="other" checked>Other</br>


  <label for="receipt"><b>upload receipt data</b></label>
  <input type = "file" name = "receipt" required>

  <button type="submit">Submit Ticket</button>
  <button type="reset">Cancel</button>
</div>


<button type="submit">Back to Main Menu</button>
<button type="submit">Logout</button>
