<div class="container">
  <label for="Email"><b>Email</b></label>
  <input type="text" placeholder="Enter Email" name="Email" required>

  <label for="ConfirmEmail"><b>Confirm Email</b></label>
  <input type="text" placeholder="Confirm Email" name="ConfirmEmail" required>

  <label for="uname"><b>Username</b></label>
  <input type="text" placeholder="Enter Username" name="uname" required>

  <label for="psw"><b>Password</b></label>
  <input type="password" placeholder="Enter Password" name="psw" required>
  
  <label for="Confirmpassword"><b>Confirm Password</b></label>
  <input type="password" placeholder="Confirm Password" name="Confirmpassword" required>

  <button type="submit">Register</button>
  <button type="submit">Cancel</button>
</div>