<!DOCTYPE html>
<html>
  <head>
    <link rel ="stylesheet" href= "ticket-status-component.component.css">
  </head>
<body>
<div class="container">
<table>
  <tr>
    <th>Ticket Number</th>
    <th>Date of submission</th>
    <th>Type</th>
    <th>Cost</th>
    <th>Description</th>
    <th>Status</th>
    <th>Updated</th>
    <th>Amount Reimbursed</th>
  </tr>

  <tr>
    <td>1</td>
    <td>01/25/2019</td>
    <td>Lodging</td>
    <td>$110.00</td>
    <td>IQ Apartments Rent</td>
    <td>Pending</td>
    <td>Null</td>
    <td>Null</td>
  </tr>

  
</table>
  
</div>
<button type="submit">Back to Main Menu</button>
<button type="submit">Logout</button>
</body>
</html>